.bouton {
  /*width: 100px;*/
  background-color: gray
}

.center {
  align-content: center;
  margin-left: auto;
  margin-right: auto
}

canvas {
  border: 1px solid black;
  display: inline-block;
}

input {
  border: none;
  outline: none;
  color: transparent;
}

div {
  display: inline-block;
  margin : 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  display: inline-block;
  margin : 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  margin : 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
}